{% extends "base.html" %}
{% block title %} Relatorio de Vendas - Igo Vidros{% endblock %}

{% block content %}   
    <div class="container mt-4">
        <div class="row justify-content-center">
            <!-- Card de Pedidos -->
            <div class="col-md-5">
                <div class="p-3 bg-secondary text-white rounded shadow-sm" style="max-height: 400px; overflow-y: auto;">
                    <h5 class="text-center mb-3">Pedidos Finalizados</h5>
                    <ul class="list-group list-group-flush">
                        {% for vendas in pedidos_vendidos %}
                            <li class="list-group-item bg-secondary text-white border-0">
                                <h5 class="mb-1">{{ vendas.nome }}</h5>
                                <small>R$: {{ vendas.valor }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                    <p class="mt-3 text-center text-white small">&copy; Dev Mael Nunes</p>
                </div>
                <h3 class="text-white">Soma total: R$: {{ total }} </h3>
                <p class="text-secondary">Todos esses registros serão apagados com 30 dias</p>
            </div>
        </div>
    </div>
{% endblock %}
